{% extends 'base.html.twig' %}
{% form_theme form 'default/form_theme.html.twig' %}

{% block title %}
    Suppression de la spécialité
{% endblock %}

{% block titre %}
    <span>
        <a href="{{ path('departement_show', {'id': specialite.departement.id}) }}" class="text-success">
        {{ specialite.departement.nom }}
        </a>
    </span>
    <span class="font-weight-normal">/</span>
    Suppression de la spécialité
{% endblock %}

{% block body %}
    <h4 class="text-danger">Voulez-vous supprimer la spécialité suivante ?</h4>

    {{ form_start(form, {'attr':{'id':'delete_form'}}) }}
    {{ form_errors(form) }}

    <div class="row">
        <div class="col-md-5">
            <table class="table table-sm table-borderless table-hover">
                <tbody>
                    <tr>
                        <th style="width: 40%">Code</th>
                        <td class="value">{{ specialite.code }}</td>
                    </tr>
                    <tr>
                        <th>Nom</th>
                        <td class="value">{{ specialite.nom }}</td>
                    </tr>
                    <tr>
                        <th>Département</th>
                        <td class="value">{{ specialite.departement.code }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <button type="button" id="delete_btn" class="btn btn-danger btn-sm">
                                <i class="fa fa-sm fa-trash-alt"></i>
                                Supprimer
                            </button>
                            <a href="{{ path('departement_show', {'id': specialite.departement.id}) }}" class="btn btn-sm btn-success">
                                <i class="fa fa-sm fa-arrow-left"></i>
                                Annuler
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#admin").addClass("active");
            $("#departement_index").addClass("active");

            $("#delete_btn").click(function () {
                if (confirm("Voulez-vous supprimer cette specialité ?")) {
                    $("#delete_form").submit();
                }
            });
        });
    </script>
{% endblock %}
