{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listeue</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ listeUe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ listeUe.nom }}</td>
            </tr>
            <tr>
                <th>Sigle</th>
                <td>{{ listeUe.sigle }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('listeUe_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('listeUe_edit', { 'id': listeUe.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
